<html>
  <div class="header">
    <h1 class="title">Payments history</h1>
    <div class="filters">
      <app-payment-filter (filterApply)="applyFilters($event)"></app-payment-filter>
    </div> 
  </div>
  <div class="history-table">
    <mat-table #table [dataSource]="datasource">
      <ng-container matColumnDef="billingDate">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.operationDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef> Label </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
            <mat-select [(value)]="element.category" placeholder={{element.category}} (selectionChange)="update($event.value, element.identifier)">
              <mat-option *ngFor="let c of categories" [value]="c">{{c}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
     <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</html>