#billing-value, #billing-label {
    display:inline;
    margin-left: 2%;
}

.header {
  width: 80%;
  height: 200px;
}

.filters {
  width: 80%;
  height: 200px;
  margin-top: 3%;
  margin-left: 4%;
  float: left;
}


.history-table {
  margin-top: 6%;
  margin-left: 5%;
  width: 70%;
  
}

.filters h3 {
    padding-left: 2%;
}

.header h1 {
  font-size: xx-large;
  margin-left: 3%;
  font-family: Arial, Helvetica, sans-serif;
}