<div mat-dialog-content>
    <p>Please enter budget informations :</p>
    <mat-form-field>
      <mat-label>Budget label</mat-label>
      <input matInput [(ngModel)]="data.label">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Budget description</mat-label>
        <input matInput [(ngModel)]="data.description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Budget amount</mat-label>
      <input matInput [(ngModel)]="data.amout">
  </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Abort</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>